* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(28, 73, 80);
}
.login-section {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}
.login-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 30px;
    box-shadow: 0 4px 15px rgba(26, 22, 22, 0.2);
    text-align: center;
}
.login-container h1 {
    margin-top: 2%;
    margin-bottom: 30px;
    font-size: 20px;
    color: #000000;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.login-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
.login-form input {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.3s ease;
}
.login-form input:focus {
    border-color: #29335e;
    box-shadow: 0 0 5px rgba(29, 42, 91, 0.5);
}
.login-form button {
    padding: 12px;
    background-color: #19224d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}
.login-form button:hover {
    background-color: #414a95;
}
body{
    background-image: url(../restraunt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}